# File nhạy cảm
.env
config.yml

# Các thư mục build và dependency
node_modules/
__pycache__/
dist/
build/

# File tạm và hệ điều hành
*.log
*.tmp
.DS_Store
Thumbs.db

# File dữ liệu lớn hoặc không cần thiết
*.sql
*.csv
*.mp4
